# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.forMat.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\allan\RiderProjects\forMat\.idea\.idea.forMat\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
